streamlit
streamlit-webrtc==0.45.1
google-generativeai
python-dotenv
Pillow
PyPDF2
gTTS
charset-normalizer
pyttsx3
SpeechRecognition
pyaudio
fpdf
edge-tts
soundfile
openpyxl
pandas
numpy
av
openai-whisper
