streamlit
streamlit-mic-recorder
google-generativeai
python-dotenv
Pillow
PyPDF2
gTTS
pyttsx3
SpeechRecognition
pyaudio
fpdf
edge-tts
soundfile
openpyxl
pandas
numpy
openai-whisper
soundfile
numpy
